In [ ]:
import pandas as pd
from numpy import dtype
from ludwig.api import LudwigModel
from utils import get_training_data_set, get_model_definition, generate_base_model_definition

In [2]:
url = 'mysql+pymysql://root:swamp@localhost:3306/ml'
table = 'titanic'
df = get_training_data_set(url, table)
df.head()

,Id,Survived,Class,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,False,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,,S
1,0,True,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,0,True,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,,S
3,0,True,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
4,0,False,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,,S

In [3]:
generate_base_model_definition(df, target='Survived')

{'input_features': [{'name': 'Id', 'type': 'numerical'},
  {'name': 'Class', 'type': 'numerical'},
  {'name': 'Name', 'type': 'category'},
  {'name': 'Sex', 'type': 'category'},
  {'name': 'Age', 'type': 'numerical'},
  {'name': 'SibSp', 'type': 'numerical'},
  {'name': 'Parch', 'type': 'numerical'},
  {'name': 'Ticket', 'type': 'category'},
  {'name': 'Fare', 'type': 'numerical'},
  {'name': 'Cabin', 'type': 'category'},
  {'name': 'Embarked', 'type': 'category'}],
 'output_features': [{'name': 'Survived', 'type': 'binary'}]}

In [ ]:
%load model_definition_01.yaml
input_features:
- name: Id
  type: numerical
- name: Class
  type: numerical
- name: Name
  type: category
- name: Sex
  type: category
- name: Age
  type: numerical
- name: SibSp
  type: numerical
- name: Parch
  type: numerical
- name: Ticket
  type: category
- name: Fare
  type: numerical
- name: Cabin
  type: category
- name: Embarked
  type: category
output_features:
- name: Survived
  type: binary

In [6]:
%%writefile model_definition_02.yaml
input_features:
- name: Id
  type: numerical
- name: Class
  type: numerical
- name: Name
  type: category
- name: Sex
  type: category
- name: Age
  type: numerical
  preprocessing:
          missing_value_strategy: fill_with_mean
  
- name: SibSp
  type: numerical
- name: Parch
  type: numerical
- name: Ticket
  type: category
- name: Fare
  type: numerical
- name: Cabin
  type: category
- name: Embarked
  type: category
output_features:
- name: Survived
  type: binary

Overwriting model_definition_02.yaml

In [ ]:
ludwig_model = LudwigModel({}, model_definition_file='model_definition_02.yaml')
train_status = ludwig_model.train(data_df=df)

In [8]:
train_status['validation']['combined']['accuracy'][-1]

0.691358024691358

In [ ]:
deploy_model_to_fastscore(ludwig_model)