In [ ]:
import pandas as pd
from numpy import dtype
from ludwig.api import LudwigModel
from utils import get_training_data_set, get_model_definition, generate_base_model_definition

In [2]:
url = 'mysql+pymysql://root:swamp@localhost:3306/ml'  #or get from a kafka topic....
table = 'titanic'  #this could be a view to pick up rolling 6 months of data to support re-training
df = get_training_data_set(url, table)
df.head()

,Id,Survived,Class,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,False,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,,S
1,0,True,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,0,True,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,,S
3,0,True,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
4,0,False,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,,S

In [ ]:
generate_base_model_definition(df, target='Survived')

In [ ]:
%load model_definition.yaml
input_features:
- name: Id
  type: numerical
- name: Class
  type: numerical
- name: Name
  type: category
- name: Sex
  type: category
- name: Age
  type: numerical
- name: SibSp
  type: numerical
- name: Parch
  type: numerical
- name: Ticket
  type: category
- name: Fare
  type: numerical
- name: Cabin
  type: category
- name: Embarked
  type: category
output_features:
- name: Survived
  type: binary

## Iterate on model in cell below.  Results are written to a new directory every time

In [32]:
%%writefile model_definition.yaml
input_features:
- name: Class
  type: numerical
- name: Sex
  type: category
- name: Age
  type: numerical
  preprocessing:
          missing_value_strategy: fill_with_mean
          normalization: zscore
- name: SibSp
  type: numerical
- name: Parch
  type: numerical
- name: Fare
  type: numerical
- name: Cabin
  type: category
output_features:
- name: Survived
  type: binary
  num_fc_layers: 2
  fc_size: 128
training:
    batch_size: 128
    epochs: 200

Overwriting model_definition.yaml

In [29]:
ludwig_model = LudwigModel({}, model_definition_file='model_definition.yaml')
train_status = ludwig_model.train(data_df=df)

In [33]:
max(train_status['validation']['combined']['accuracy'])

0.8024691358024691

In [34]:
!ls results

api_experiment_run_0  api_experiment_run_13 api_experiment_run_6
api_experiment_run_1  api_experiment_run_2  api_experiment_run_7
api_experiment_run_10 api_experiment_run_3  api_experiment_run_8
api_experiment_run_11 api_experiment_run_4  api_experiment_run_9
api_experiment_run_12 api_experiment_run_5

In [ ]:
deploy_model_to_fastscore(ludwig_model)
#saves model to tmp directory (or locates experiement in results directory) and package as tar file
#generates a model conformance python file (same every time?) that just unpacks tar file
#using input features and output features generate schema definition file
#upload everything to fastscore using python sdk
#model_definition,yaml gets tagged and stored....now we can automate re-training model on new data and we can guarantee that model can be recreated.